* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  black: #000000;
} 

.avatar {
    vertical-align: middle;
    width: 1.875rem; 
    height: 1.875rem; 
    border-radius: 50%;
}

body {
    min-height: 100vh;
}

.navbar {
    width: 15.625rem; 
    height: 100rem;
    position: fixed;
    margin-left: -18.75rem;
    transition: 0.4s;
}

.nav-link {
    font-size: 1.25rem;
}


.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
     background-color: var(black); 
} 

.my-container {
    transition: 0.4s;
}

/* for navbar */
.active-nav {
    margin-left: 0;
}

/* for main section */
.active-cont {
    margin-left: 15.625rem;
}

.topnav-right {
    margin-right: 0.625rem; 
}
